/**** Specific project values ****/

/**** Overwrite default variables ****/

/**** Default system variables ****/

// Grid
$grid-base: 1rem !default;
$tiles-margin: $grid-base * 1.5 !default;

// Breakpoints
$xs-break: 576px !default;
$sm-break: 768px !default;
$md-break: 992px !default;
$lg-break: 1200px !default;
$xxl-break: 2000px !default;

// Map of breakpoints.
$breakpoints: (
  xs: $xs-break,
  sm: $sm-break,
  md: $md-break,
  lg: $lg-break,
  xxl: $xxl-break,
);

// ** _mix-resp-section-padding
// $tiny-paddings: 50px !default;
// $xs-paddings: $tiny-paddings !default;
// $sm-paddings: 80px !default;
// $md-paddings: $sm-paddings !default;
// $lg-paddings: 100px !default;
// $xxl-paddings: $lg-paddings !default;

// ** _mix-section-height
// $default-section-height: 100vh !default;
// $default-section-min-height: 500px !default;
// $default-section-max-height: 800px !default;
