/**** Specific project values ****/

/**** Overwrite default variables ****/

/**** Default system variables ****/

// Grid
$grid-base: 1rem;

// Breakpoints
$xs-break: 576px;
$sm-break: 768px;
$md-break: 992px;
$lg-break: 1200px;
$xxl-break: 1450px;

// Map of breakpoints.
$breakpoints: (
  xs: $xs-break,
  sm: $sm-break,
  md: $md-break,
  lg: $lg-break,
  xxl: $xxl-break,
);

// ** _mix-resp-section-padding
// $tiny-paddings: 50px;
// $xs-paddings: $tiny-paddings;
// $sm-paddings: 80px;
// $md-paddings: $sm-paddings;
// $lg-paddings: 100px;
// $xxl-paddings: $lg-paddings;

// ** _mix-section-height
// $default-section-height: 100vh;
// $default-section-min-height: 500px;
// $default-section-max-height: 800px;

// ** u-container
// $containerPadding: $grid-base;
// $max-width-xs: 540px;
// $max-width-sm: 720px;
// $max-width-md: 960px;
// $max-width-lg: 1184px;
// $max-width-xxl: 1184px;

// ** c-side-menu
// $side-menu--item--padding: 15px !default;
// $side-menu--icon--size: $grid-base * 2 !default;
