/**** Specific project values ****/
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500&display=swap');

//Body font
$primary-font: ('Raleway', sans-serif);
// $secondary-font: ('Playfair Display', serif);

//Font sizes
$font-size-small: 1.4rem;
$font-size-16: 1.6rem;
$font-size-24: 2.4rem;
$font-size-36: 3.6rem;
$font-size-46: 4.6rem;

// Create font-size classes
$font-sizes: (
  'font-size-small': $font-size-small,
  'font-size-16': $font-size-16,
  'font-size-24': $font-size-24,
  'font-size-36': $font-size-36,
  'font-size-46': $font-size-46,
);

//Font weights
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;

// Create font-weight classes
$font-weights: (
  'font-weight-200': $font-weight-200,
  'font-weight-300': $font-weight-300,
  'font-weight-400': $font-weight-400,
  'font-weight-500': $font-weight-500,
);

// Main body styling
$main-body-font: $primary-font;
$main-body-font-size: $font-size-16;
$main-body-font-weight: $font-weight-400;

// ** Headings
// $h1-font-size:
// $h2-font-size:
// $h3-font-size:
// $h4-font-size:
// $h1-font-weight:
// $h2-font-weight:
// $h3-font-weight:
// $h4-font-weight:

// ** c-blog-entry
// $blog-entry--title--font-size: $grid-base * 2;
// $blog-entry--title--font-weight: bold;
// $blog-entry--text--font-size: $grid-base * 1.6;
// $blog-entry--text--font-weight: normal;

// ** c-btn
// $btn--text--font-size: 2rem;
// $btn--text--font-weight: normal
// $small-btn--text--font-size: 1.5rem;
// $small-btn--text--font-weight: normal

// ** c-icon
// $icon--image--font-size: 2.5rem !default;

// ** c-side-contact
// $side-contact--font-size: 14px !default;
// $side-contact--font-weight: normal !default;
// $side-contact--icon-size: $grid-base * 2 !default;

// ** c-side-menu
// $side-menu--text--font-weight: normal !default;
// $side-menu--icon--size: $grid-base * 2 !default;
