/**** Specific project values: ****/

//** Data for shadows
$shadow-color-1: rgba(8, 35, 48, 0.14);
$shadow-color-2: rgba(8, 35, 48, 0.08);
$shadow-color-3: rgba(8, 35, 48, 0.4);

//Shadow patterns
$shadow-1: 0px 1px 2px $shadow-color-1, 0px 2px 6px $shadow-color-2;
$shadow-2: 0px 2px 4px $shadow-color-1, 0px 4px 8px $shadow-color-2;
$shadow-3: 0px 4px 8px $shadow-color-1, 0px 8px 16px $shadow-color-2;
$shadow-4: 0px 6px 12px $shadow-color-1, 0px 16px 24px $shadow-color-2;
$shadow-5: 0px 1px 2px $shadow-color-3, 0px 2px 6px $shadow-color-1;
$default-shadow: $shadow-1;

$shadows: (
  'shadow1': $shadow-1,
  'shadow2': $shadow-2,
  'shadow3': $shadow-3,
  'shadow4': $shadow-4,
  'shadow5': $shadow-5,
);

/**** Overwrite default variables: ****/
/**** Default system variables: ****/
