/**** Specific project values: ****/
$default-transition: all 1s;
$default-taiming: cubic-bezier(0.075, 0.82, 0.165, 1);

/**** Overwrite default variables: ****/
/**** Default system variables: ****/
