html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}

$main-font: ("Roboto", sans-serif);
$font-size-base: 1rem;
$font-size-small: 1rem;
$font-size-medium: 1.6rem;
$font-size-big: 2rem;
$font-size-xxl: 3rem;

$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;
