.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-upper {
  text-transform: uppercase;
}

.u-text-italic {
  font-style: italic;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-small {
  font-size: $font-size-small;
}

.u-text-medium {
  font-size: $font-size-medium;
}

.u-text-big {
  font-size: $font-size-big;
}

.u-text-xxl {
  font-size: $font-size-xxl;
}
