.u-container {
  //Overwrite default values:

  //Default values:
  $grid-base: 10px !default;
  $containerPadding: $grid-base !default;
  $max-width-xs: 540px !default;
  $max-width-sm: 720px !default;
  $max-width-md: 960px !default;
  $max-width-lg: 1184px !default;
  $max-width-xxl: 1184px !default;

  width: 100%;
  padding: 0 $containerPadding;
  margin: 0 auto;

  @include respond-above(xs) {
    max-width: $max-width-xs;
  }

  @include respond-above(sm) {
    max-width: $max-width-sm;
  }

  @include respond-above(md) {
    max-width: $max-width-md;
  }

  @include respond-above(lg) {
    max-width: $max-width-lg;
  }

  @include respond-above(xxl) {
    max-width: $max-width-xxl;
  }
}

.u-container-fluid {
  max-width: 100% !important;
}
