// Modifier from 5 to 95, step 5. Example: col--lg-50

@mixin create_col_classes {
  .u-col {
    width: 100%;

    &--33 {
      width: 33%;
      flex: 0 0 33%;
      min-width: 33%;
    }

    &--xs-33 {
      @include respond-above(xs) {
        width: 33%;
        flex: 0 0 33%;
        min-width: 33%;
      }
    }

    &--sm-33 {
      @include respond-above(sm) {
        width: 33%;
        flex: 0 0 33%;
        min-width: 33%;
      }
    }

    &--md-33 {
      @include respond-above(md) {
        width: 33%;
        flex: 0 0 33%;
        min-width: 33%;
      }
    }

    &--lg-33 {
      @include respond-above(lg) {
        width: 33%;
        flex: 0 0 33%;
        min-width: 33%;
      }
    }
  }

  $value: 5;

  @for $i from 1 through 19 {
    $percvalue: $value * 1%;

    .u-col--#{$value} {
      width: #{$percvalue};
      flex: 0 0 #{$percvalue};
      min-width: #{$percvalue};
    }

    @each $key, $val in $breakpoints {
      .u-col--#{$key}-#{$value} {
        @include respond-above($key) {
          width: #{$percvalue};
          flex: 0 0 #{$percvalue};
          min-width: #{$percvalue};
        }
      }
    }

    $value: $value + 5;
  }
}

@include create_col_classes;
