@mixin makeFontSizes {
  @each $name, $size in $font-sizes {
    .#{$name} {
      font-size: $size !important;
    }
  }
}

@include makeFontSizes;

@mixin makeFontWeights {
  @each $name, $weight in $font-weights {
    .#{$name} {
      font-weight: $weight !important;
    }
  }
}

@include makeFontWeights;

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-upper {
  text-transform: uppercase;
}

.u-text-italic {
  font-style: italic;
}

.u-text-bold {
  font-weight: bold;
}
