// ?? Do przetestowania czy napewno dobrze działa
// Mixina do wykorzystania w temlatach w kombinacji z media jeżeli trzeba.

/**** Overwrite default variables and custom projekt stylling ****/

/**** Default properties ****/
$default-section-height: 100vh !default;
$default-section-min-height: 500px !default;
$default-section-max-height: 800px !default;

/**** Core component ****/
@mixin section-height(
  $height: $default-section-height,
  $min-height: $default-section-min-height,
  $max-height: $default-section-max-height
) {
  height: $height;
  min-height: $min-height;
  max-height: $max-height;
}
