@mixin resp-background(
  $phone-9x16,
  $phone-9x16-hi,
  $phone-9x21,
  $phone-9x21-hi,
  $tablet-3x4,
  $tablet-3x4-hi,
  $tablet-2x3,
  $tablet-2x3-hi,
  $desktop16x9,
  $desktop16x9-hi
) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include respond-below(xs) {
    $condition1: '(min-aspect-ratio: 11/20)';
    $condition2: '(max-aspect-ratio: 11/20)';
    @media #{$condition2} and (max-resolution: 2.99dppx) {
      background-image: url($phone-9x21);
    }
    @media #{$condition2} and (min-resolution: 3dppx) {
      background-image: url($phone-9x21-hi);
    }
    @media #{$condition1} and (max-resolution: 2.99dppx) {
      background-image: url($phone-9x16);
    }
    @media #{$condition1} and (min-resolution: 3dppx) {
      background-image: url($phone-9x16-hi);
    }
  }

  @include respond-between(xs, lg) {
    $condition3: '(max-aspect-ratio: 7/10)';
    $condition4: '(min-aspect-ratio: 7/10)';
    @media #{$condition3} and (max-resolution: 1.99dppx) {
      background-image: url($tablet-2x3);
    }
    @media #{$condition3} and (min-resolution: 2.0dppx) {
      background-image: url($tablet-2x3-hi);
    }
    @media #{$condition4} and (max-resolution: 1.99dppx) {
      background-image: url($tablet-3x4);
    }
    @media #{$condition4} and (min-resolution: 2.0dppx) {
      background-image: url($tablet-3x4-hi);
    }
  }

  @include respond-above(lg) {
    @media (max-resolution: 1.49dppx) {
      background-image: url($desktop16x9);
    }

    @media (min-resolution: 1.5dppx) {
      background-image: url($desktop16x9-hi);
    }
  }
}
