@mixin resp-background(
  $sm-down-pict,
  $sm-down-pict-hi,
  $sm-md-pict,
  $sm-md-pict-hi,
  $md-xxl-pict,
  $md-xxl-pict-hi
) {
  background-repeat: no-repeat;
  background-size: cover;

  @include respond-below(sm) {
    background-image: url($sm-down-pict);

    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url($sm-down-pict-hi);
    }
  }

  @include respond-between(sm, md) {
    @media (-webkit-max-device-pixel-ratio: 1.999) {
      background: url($sm-md-pict);
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
      background: url($sm-md-pict-hi);
    }
  }

  @include respond-between(md, xxl) {
    @media (-webkit-max-device-pixel-ratio: 1.999) {
      background: url($md-xxl-pict);
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
      background: url($md-xxl-pict-hi);
    }
  }

  @include respond-above(xxl) {
    background: none;
  }
}
