$small: 50px;
$medium: 100px;

@mixin resp-y-padding($sm: $small, $md: $medium) {
  padding-top: $sm;
  padding-bottom: $sm;

  @include respond-above(md) {
    padding-top: $md;
    padding-bottom: $md;
  }
}

%resp-section-padding {
  @include resp-y-padding();
}
