.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.lazy-background {
  background-image: none !important;
  background-color: gray;
}

// .lazyload {
//   opacity: 0;
// }

// .lazyloading {
//   opacity: 1;
//   transition: opacity 11300ms;
//   background: red url(images/images/loader.gif) no-repeat center;
// }
