.u-sr-only {
  /**** Overwrite default variables and custom projekt stylling ****/
  /**** Default properties ****/

  /**** Core component ****/
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
