// Additional common text classes

.u-txt-center {
  text-align: center !important;
}

.u-txt-right {
  text-align: right !important;
}

.u-txt-upper {
  text-transform: uppercase !important;
}

.u-txt-italic {
  font-style: italic !important;
}

.u-txt-bold {
  font-weight: bold !important;
}
