.temp-07-gallery {
  @extend %resp-section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;
  background-position: center;
  background-image: url(images/images/backgr6.jpg);

  &__cont {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    justify-items: stretch;
  }

  &__item {
    @extend .u-shadow-hover-click-effect;
  }
}
