.temp-10-footer {
  color: $color-lightGray;
  background-color: $color-darkGray;

  &__cont {
    display: flex;
    flex-wrap: wrap;

    @include respond-above(md) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // text-align: center;
    padding: 2rem 5rem;
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.5rem;
    background-color: lighten($color-darkGray, $amount: 5);
  }
}
