.temp-05-howWeWork {
  @extend %resp-section-padding;
  &__inner {
    display: grid;
    grid-row-gap: $grid-base * 2;

    @include respond-above(sm) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: $grid-base * 2;
    }

    @include respond-above(md) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: $grid-base;
    }
  }

  &__elem {
    img {
      width: 100%;
      @include add-box-shadow();
      @extend %transition;

      &:hover {
        @include add-box-shadow($shadow-4);
      }
    }
  }
}
