.c-icon {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: 50%;
  background-size: 40%;
  display: block;
  border-radius: 50px;
  flex-shrink: 0;

  &--big {
    background-size: 95%;
  }

  &--blue {
    background-color: $color-blue;
  }

  &--white {
    background-color: white;
  }

  &--ambulance {
    background-image: url(images/icon/ambulance.svg);
  }

  &--arrow {
    background-image: url(images/icon/arrow.svg);
  }

  &--atom {
    background-image: url(images/icon/atom.svg);
  }

  &--clock {
    background-image: url(images/icon/clock.svg);
  }

  &--copter {
    background-image: url(images/icon/copter.svg);
  }

  &--email {
    background-image: url(images/icon/email.svg);
  }

  &--email2 {
    background-image: url(images/icon/email2.svg);
  }

  &--hands {
    background-image: url(images/icon/hands.svg);
  }

  &--healthcare {
    background-image: url(images/icon/healthcare.svg);
  }

  &--heart {
    background-image: url(images/icon/heart.svg);
  }

  &--lunges {
    background-image: url(images/icon/lunges.svg);
  }

  &--mapSign {
    background-image: url(images/icon/mapSign.svg);
  }

  &--microscope {
    background-image: url(images/icon/microscope.svg);
  }

  &--nurse {
    background-image: url(images/icon/nurse.svg);
  }

  &--phone {
    background-image: url(images/icon/phone.svg);
  }

  &--phone2 {
    background-image: url(images/icon/phone2.svg);
  }

  &--phone3 {
    background-image: url(images/icon/phone3.svg);
  }

  &--pills {
    background-image: url(images/icon/pills.svg);
  }

  &--stethoscope {
    background-image: url(images/icon/stethoscope.svg);
  }
}
