.c-side-contact {
  //Overwrite variables
  $component-color: black;
  $icon-color: $color-lightBlue;
  $text-color: white;

  //Default variables
  $grid-base: 10px !default;
  $icon-size: $grid-base * 2 !default;
  $icon-distance-from-left: $grid-base * 2 !default;
  $icon-color: red !default;

  $text-color: white !default;
  $component-color: gray !default;

  //Component body
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $component-color;
  color: $text-color;
  height: 246px;

  font-size: 14px;
  font-weight: $font-weight-300;

  &__item {
    padding: 0 $icon-distance-from-left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    height: 100%;
    width: 100%;
  }

  i {
    color: $icon-color;
    font-size: $icon-size;

    &::before {
      margin: 0;
      margin-right: $grid-base * 2;
    }
  }
}
