$color-background: black;
$menu-text-color: white;
$burger-menu-position: 0;
$burger-color: black !default;

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 0;
}

a:focus {
  outline: 2px solid white;
  padding: 4px;
}

.c-burger-menu {
  position: fixed;
  top: $burger-menu-position;
  right: $burger-menu-position;
  z-index: 1000;

  @include respond-above(sm) {
    display: none;
  }
}

.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  float: right;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50px;

  &--active {
    transform: translateX(-250px);
    background-color: red;
  }

  &__box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  &__inner {
    @include hamburger-line;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s 0.2s ease-in-out;
  }

  &__inner::before,
  &__inner::after {
    @include hamburger-line;
    content: '';
    transition: transform 0.1s 0.2s ease-in-out;
  }

  &__inner::before {
    top: -10px;
  }

  &__inner::after {
    top: 10px;
  }

  &--active &__inner {
    background-color: transparent;
  }

  &--active &__inner::before {
    transform: translateY(10px) rotate(45deg);
    background-color: $burger-color;
  }

  &--active &__inner::after {
    transform: translateY(-10px) rotate(-45deg);
    background-color: $burger-color;
  }
}

.navigation {
  height: 100vh;
  width: 250px;
  background-color: $color-background;
  color: $menu-text-color;
  position: absolute;
  top: -$burger-menu-position;
  right: -$burger-menu-position;
  transform: translateX(250px);

  &--active {
    transform: translateX(0);
  }

  &__list {
    list-style: none;
    margin-top: 50px;
  }

  &__item {
    margin: 20px;
    padding: 4px;
  }
}
