/*
<div class="c-social-tile c-social-tile--blue">
    <i class="c-icon icon-facebook-1 c-social-tile__icon"></i>
    <div class="c-social-tile__bottom-bar">
        <span class="c-social-tile__counter">156K</span>
        <div>
            <span>Follow</span>
            <i class="c-icon icon-plus"></i>
        </div>
    </div>
</div>
*/

.c-social-tile {
  //Overwrite variables
  $counter-weight: $font-weight-500;

  //Default variables
  $grid-base: 10px !default;
  $tile-padding: $grid-base * 2 !default;
  $main-icon-sie: 40px;
  $counter-weight: bold !default;
  $text-color: white !default;
  $body-color: black !default;

  //Component body
  padding: $tile-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $text-color;
  background-color: $body-color;

  &__icon {
    font-size: $main-icon-sie;
  }

  &__bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__counter {
    font-weight: $counter-weight;
    padding-left: 10px;
  }

  &__icon {
  }

  &--blue {
    background-color: $color-blue;
  }

  &--lightBlue {
    background-color: $color-lightBlue;
  }
}
