//Use fontello

.c-icon {
  //Overwrite variables and custom styling

  //Default main variables
  $icon--image--font-size: 2.5rem !default;
  $icon--background--color: black;
  $icon--image--color: white !default;

  //Default local variables
  $background-size: 45px !default;

  //Component body
  background-color: $icon--background--color;
  color: $icon--image--color;
  font-size: $icon--image--font-size;
  height: $background-size;
  width: $background-size;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &__circle-back {
    border-radius: 50px;
  }
}
