.c-input {
  //Overwrite variables:
  //Default variables:

  //Component body:
  width: 100%;
  max-width: 400px;
  margin: 0;
  display: block;
  padding: 5px 10px;
  line-height: 1.5;

  &:focus::placeholder {
    color: transparent;
  }

  &::placeholder {
    @include respond-below(md) {
      text-align: center;
    }
  }

  // @include respond-above(md) {
  //   width: 350px;
  // }
}
