.c-circle-indicator {
  // https://k9yri.csb.app/
  // https://www.figma.com/file/mnTZ5mBrEs1Ys3YDDi3rro/PK-SCSS?node-id=0%3A1

  //Overwrite variables:
  //Default variables:
  $grid-base: 10px !default;
  $component-width: 70px !important;

  $triger-size: 15px !default;
  $triger-color: 'inherit' !default;
  $triger-border-color: $color-gray;

  $triger-active-color: $color-gray;
  $triger-active-border-color: $color-gray;

  //Component body:

  display: flex;
  justify-content: space-between;
  width: $component-width;

  &__trigger {
    @extend .u-shadow-hover-click-effect;
    display: block;
    width: $triger-size;
    height: $triger-size;
    background-color: $triger-color;

    border-radius: 100px;
    border: 1px solid $triger-border-color;

    &--active {
      background-color: $triger-active-color;
      border: 1px solid $triger-active-border-color;
    }
  }
}
