//Use fontello

.c-icon {
  //Overwrite variables

  //Default variables
  $icon-font-size: inherit !default;
  $icon-line-height: 1.5 !default;

  $background-size: 45px !default;
  $background-default-color: gray;

  //Component body
  font-size: $icon-font-size;
  line-height: $icon-line-height;
  z-index: 2;

  &__circle-back {
    background-color: $background-default-color;
    width: $background-size;
    height: $background-size;
    border-radius: 50px;
    line-height: $background-size;
  }

  // &__circle-back {
  //   display: block;
  //   position: relative;

  // &::after {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: -1;
  //   border-radius: $background-size;
  //   content: '';
  //   width: $background-size;
  //   height: $background-size;
  //   background-color: inherit;
  // }
  // }
}
