/**** Overwrite default properties and custom stylling ****/

html {
  font-size: 62.5%;
}

$font-size-base: 1.6rem !default;
$font-weight-base: 400 !default;

body {
  font-family: $main-body-font;
  font-size: $main-body-font-size;
  font-weight: $main-body-font-weight;
  color: $main-body-color;
  background-color: $main-body-background-color;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  max-width: 1600px;
}

/**** Default properties ****/
