//Overwrite variables:
//Default variables:
$h1-font-size: 2.5rem !default;
$h2-font-size: 2.2rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1.8rem !default;

$h1-font-weight: bold !default;
$h2-font-weight: $h1-font-weight !default;
$h3-font-weight: $h1-font-weight !default;
$h4-font-weight: $h1-font-weight !default;

//Custom styling:
//Core Functionality:

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
}

h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
}

h4 {
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
}
